/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  nav ul {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: block;
    border-bottom: 1px solid white;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  .FoolishText {
    display: none;
  }
}

/* Styles for screens larger than 600px */
@media only screen and (min-width: 601px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  .FoolishText {
    display: inline-block;
  }
}
